/* * {
    background-color: beige;
} */

.heading{
    padding-top: 20vh;
    text-align: center;
}

/* .formall {
    margin-left: 10vh;
} */

#logo2{
    height: 60vh;
    width: 60vh;
    border-radius: 100%;
}

.kolom1{
    padding-left: 10vh;
}

.kolom2{
    padding-left: 25vh;
}

.kolom2 p{
    /* padding-left: 5vh; */
    padding-right: 10vh;
    text-align: justify;
}

.kolom2 h2{
    padding-left: 20vh;
}